<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="utf-8">
        <title> Home </title>
        <link rel="stylesheet" href="/static/styles/home.css">
    </head>
    <body>
        <header>
            Home
        </header>
        <main>
            TODO: Implement Home
        </main>
        <footer>
            Created by Dumbledorf Stonks ©
        </footer>
    </body>
</html>