<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="utf-8">
        <title> {{room.name}} </title>
        <link rel="stylesheet" href="/static/styles/room.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body>
    
        <header>
            {{room.name}}
        </header>
        <main>
            TODO: Implement Room
            <form action="#" method="POST">
                {{ vidForm.hidden_tag() }}

                {{ vidForm.video() }}

                {{ vidForm.submit() }}
            </form>
        </main>
        <footer>
            Created by Dumbledorf Stonks ©
        </footer>
    </body>
</html>