<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="utf-8">
        <title> {{room.name}} </title>
        <link rel="stylesheet" href="/static/styles/room.css">
    </head>
    <body>
    
        <header>
            {{room.name}}
        </header>
        <main>
            TODO: Implement Room
        </main>
        <footer>
            Created by Dumbledorf Stonks ©
        </footer>
    </body>
</html>